*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body{
    font-family: "Montserrat", sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: 1.6rem;
    line-height: 1.5;
    color: #212529;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    color: #111111;
    font-weight: 400;
}

h1 {
    font-size: 6.8rem;
}

h2 {
    font-size: 3.6rem;
}

h3 {
    font-size: 3rem;
}

h4 {
    font-size: 2.4rem;
}

h5 {
    font-size: 1.8rem;
}

h6 {
    font-size: 1.6rem;
}

p {
    font-size: 1.4rem;
    font-family: "Montserrat", sans-serif;
    color: #666666;
    font-weight: 400;
    line-height: 1.7;
    margin: 0 0 15px 0;
}

a{
    text-decoration: none;
}

img {
    max-width: 100%;
    height:auto;
    display:flex;
}


/* header */
.header{
    height: 84px;
    background-color: antiquewhite;
}
/* header end */

.hero{
    overflow: hidden;
    margin-top: 10px;
    padding: 0px;
}

.hero .hero-item {
    height: 314px;
    display: flex;
    align-items: center;
    padding-left: 30px;
    background-size: cover;
    background-position: center;
    margin-left: 10px;
    margin-bottom: 10px;
}

.hero .hero-item-large {
    height: 638px;
    padding-left: 70px;
    margin-right: 8px;
    margin-left: -5px;
}
.hero .hero-item-large .hero-text{
    max-width: 480px;
}


.hero>.container-fluid>.row {
    margin-left: -3px;
    margin-right: -12px;
}

.hero-text{
    
}
.hero-text h1{
    font-family: "Cookie", cursive;
    color: #111111;
}
h4{
    font-weight: 700;
}
.hero-text a{
    color: #111111;
    font-weight: 600;
    position: relative;
    text-transform: uppercase;
    padding-bottom: 3px;
}
.hero-text a::after{
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 100%;
    background: #ca1515;
    content: "";
}

